# Compiled object files
*.o

# Precompiled Headers
*.gch

# Executables
*.out
*.exe
*.elf

# Logs
*.log

# Core dumps
core

# Temporary files
*~
*.swp

# Debug files
*.dSYM/
*.stackdump

# VSCode or CLion configs (optional)
.vscode/
.idea/

# Backup files
*.bak
